*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

button{
    border: none;
}

body{
    background-color: #0E1728;
}

header{
    height: 12vh;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 999;
}

header , header div{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
}

header p{
    color: white;
    font-size: 1.2rem;
    padding-left: 15px;
}

header img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.slider{
    position: fixed;
    bottom: 0px;
    width: 60%;
    height: 90vh;
    background-color: #E8EDE9;
    transform: translate(-110%);
    transition: .5s;
    box-shadow: 1px 5px 20px black;
}

nav{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #0E1728;
}

nav ul{
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
}

.celect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: white;
    border-radius: 50%;
}

.svg {
    width: 2rem;
    height: 2rem;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.progress{
    font-size: 3rem;
    color: white;
}

.progress span{
    color: #FF4433;
}

section div p{
    font-size: 1.2rem;
    color: white;
}

section h1{
    color: white;
    font-size: 2rem;
}

.todaytask{
    justify-self: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    width: 95%;
    border-radius: 15px;
    background-color: #E8EDE9;
}

.container{
    display: flex;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    align-items: center;
}

.dates h1{
    font-size: 4rem;
}

.dates{
    display: flex;
    justify-content: center;
}

.month{
    font-size: 25px;
    align-self: end;
    padding-bottom: 15px;
}

.fav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: grey;
    border-radius: 50%;
}



.contetnt{
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    justify-content: center;
}

.tasks{
    display: flex;
    width: 98%;
    background-color:  #c4c8c5;
    border-radius: 15px;
    padding: 15px 15px 15px 15px ;
    justify-content: start;
    align-items: center;
    font-size: 25px;
}

